body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Image-list-styling {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}

.individual-image {
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: coral;
}

.animal-image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  

  
}
.main-header {
  background-color:coral;
  color: antiquewhite;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
